.hero-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
  height: 100%;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  height: 100%;
}

.hero-image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 40%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(219, 122, 57, 0.5);
  border: none;
  color: white;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;

  &.left {
    left: 1rem;
  }

  &.right {
    right: 1rem;
  }
}

@font-face {
  font-family: "Impact";
  src: url("/src/assets/impact.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.hero h1 {
  font-family: "Impact", sans-serif !important;
}
